td {
  border: 0.5px solid;
}
table {
  /* width:300px;
  height:500px; */
}
.redClass {
  background-color: red;
}

.purpleClass {
  background-color: purple;
}

.block {
  width: 25px;
  height: 25px;
  border: 0.1px solid #222222;
}

.blackClass {
  background-color: black;
}

.greenClass {
  background-color: green;
}
.yellowClass {
  background-color: yellow;
}
.orangeClass {
  background-color: orange;
}
.blueClass {
  background-color: blue;
}

#wrapper  {
  width: 1005px;
  margin: 0 auto;
}

#leftcolumn,
#rightcolumn  {
  border: 1px solid white;
  float: left;
  min-height: 450px;
  color: white;
}

#leftcolumn  {
  width: 250px;
}

#rightcolumn  {
  width: 750px;
}
